{% extends "base.html" %}

{% block content %}
<section class="card">
    <h2>Vista prèvia de programació</h2>

    <p class="warning">
        Revisa bé la comanda abans d'executar-la.
    </p>

    <h3>Comanda real</h3>
    <pre>{{ preview.real_command }}</pre>



    <form action="/program/execute" method="post">
        {% for field, value in form_data.items() %}
            <input type="hidden" name="{{ field }}" value="{{ value }}">
        {% endfor %}

        <p>
            <button class="button danger" type="submit">
                Executar programació
            </button>

            <a class="button" href="/program">Torna al formulari</a>
            <a class="button" href="/">Torna a l'inici</a>
        </p>
    </form>
</section>
{% endblock %}

